.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}
.name {
  margin-bottom: 1vh;
}
